@CHARSET "UTF-8";

.imagenFondoGrupo
{
	background-image: url('../imagenes/Carrusel-2.jpg');
}
.imagenFondoAlumno
{
	background-image: url('../imagenes/Alumno-1.jpg');
}

.imagenFondoAlergia
{
	background-image: url('../imagenes/alergia.jpg');
}

.imagenFondoDomicilio
{
	background-image: url('../imagenes/Domicilio-1.jpg');
}
.imagenFondoProfesor
{
	background-image: url('../imagenes/Profesor-1.jpg');
}
.imagenFondoGrado
{
	background-image: url('../imagenes/grado-1.jpg');
}
.imagenFondoAdministrador
{
	background-image: url('../imagenes/administrador-1.jpg');
}